body{
	font-family: sans-serif;
}
canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
label,output {
	display:block;
	text-align: right;
}
output{
	font-family: mono;
}
label{
	font-size: 0.5em;
	margin-top: 1em;
}
section {
	display: inline-block;
	padding: 1em;
}


progress {
	--background: lightgray;
	--value: darkgray;
	--done: orange;
	--radius: 5px;

	-webkit-appearance: none;
	border: none;

	height: 0.5em;
	width: 100%;

	background: var(--background);
  }

progress::-webkit-progress-bar {
	background: var(--background);
	border-radius: var(--radius);
}

progress::-webkit-progress-value {
	border-radius: var(--radius);
	background: var(--value);
}

progress.done::-webkit-progress-value {
	border-radius: var(--radius);
	background: var(--done);
}

#beeProgress table{
	font-family: 'Courier New', Courier, monospace;
	border-collapse: collapse;
	border: 1px solid darkgray;
	width:99%;
}
#beeProgress tr {
	border-bottom: 1px solid darkgray;
	padding-left: 1em;
}
#beeProgress td {
	padding-left: 1em;
}
